### # Machine Learning - Feature Scaling - Unit Vector

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_01 = sns.load_dataset("iris")

In [3]:
df_01.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

### Method-01: Import normalize from sklearn.preprocessing

In [4]:
from sklearn.preprocessing import normalize

In [5]:
df_02 = pd.DataFrame(normalize(df_01[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]), columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

In [6]:
df_02.head(10)

   sepal_length  sepal_width  petal_length  petal_width
0      0.803773     0.551609      0.220644     0.031521
1      0.828133     0.507020      0.236609     0.033801
2      0.805333     0.548312      0.222752     0.034269
3      0.800030     0.539151      0.260879     0.034784
4      0.790965     0.569495      0.221470     0.031639
5      0.784175     0.566349      0.246870     0.058087
6      0.780109     0.576603      0.237425     0.050877
7      0.802185     0.545486      0.240655     0.032087
8      0.806424     0.531507      0.256589     0.036656
9      0.818031     0.517530      0.250418     0.016695