## # Data Encoding - Label & Ordinal Encoding

### Step-01: Import all the libraries required and create a dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_01 = pd.DataFrame({
    "color" : ["red" , "blue", "green", "green", "red", "blue", "blue", "green", "blue", "red"]
})

In [3]:
df_01.head()

   color
0    red
1   blue
2  green
3  green
4    red

### Step-02: Import LabelEncoder from sklearn.preprocessing

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
encoder = LabelEncoder()

In [6]:
array = encoder.fit_transform(df_01["color"])

In [7]:
df_02 = pd.DataFrame(array, columns = ["encoded_label"])

In [8]:
df_02.head()

   encoded_label
0              2
1              0
2              1
3              1
4              2

In [9]:
df = pd.concat([df_01, df_02], axis = 1)

In [10]:
df.head(10)

   color  encoded_label
0    red              2
1   blue              0
2  green              1
3  green              1
4    red              2
5   blue              0
6   blue              0
7  green              1
8   blue              0
9    red              2

### Step-03: Import OrdinalEncoder from sklearn.preprocessing

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
df_01 = pd.DataFrame({
    "size" : ["small", "large", "medium", "small", "medium", "large", "large", "small", "medium", "medium"]
})

In [13]:
encoder = OrdinalEncoder(categories = [["small", "medium", "large"]])

In [14]:
array = encoder.fit_transform(df_01[["size"]])

In [15]:
df_02 = pd.DataFrame(array, columns = ["ordinal_encoded"])

In [16]:
df_02.head(10)

   ordinal_encoded
0              0.0
1              2.0
2              1.0
3              0.0
4              1.0
5              2.0
6              2.0
7              0.0
8              1.0
9              1.0

In [17]:
df = pd.concat([df_01, df_02], axis = 1)

In [18]:
df.head(10)

     size  ordinal_encoded
0   small              0.0
1   large              2.0
2  medium              1.0
3   small              0.0
4  medium              1.0
5   large              2.0
6   large              2.0
7   small              0.0
8  medium              1.0
9  medium              1.0